{{- if .Values.ingress.enabled -}}
---
kind: IngressRoute
apiVersion: traefik.io/v1alpha1
metadata:
    name: {{ include "surogate.fullname" . }}
    namespace: surogate
spec:
    entryPoints:
        - web
        - websecure
    routes:
        - kind: Rule
          match: Host(`{{ .Values.ingress.host }}`)
          services:
              - kind: Service
                name: {{ include "surogate.fullname" . }}
                port: {{ .Values.service.port }}
                sticky:
                  cookie:
                    secure: false
                    httpOnly: false
                    name: smc
{{- end }}
