apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: surogate-data-pvc
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
