@if (loading() && (fileType() === FileType.TEXT || fileType() === FileType.MARKDOWN || fileType() === FileType.IPYNB)) {
  <div class="p-3 text-center">
    <p class="text-sm text-500">
      Loading file...
      @if (loadProgress() >= 0) {
        {{ loadProgress() }}%
      }
    </p>
  </div>
}

@switch (fileType()) {
  @case (FileType.TEXT) {
    @if (!loading()) {
      <sm-lazy-text-viewer
        [repository]="repository()"
        [ref]="ref()"
        [object]="object()"
        [preloadedText]="objectTextData()">
      </sm-lazy-text-viewer>
    }
  }
  @case (FileType.DATA) {
    <sm-duckdb-renderer [repoId]="repository()?.id" [refId]="ref()" [object]="object()"></sm-duckdb-renderer>
  }
  @case (FileType.PDF) {
    <sm-pdf-renderer [repoId]="repository()?.id" [refId]="ref()" [path]="object()?.path"></sm-pdf-renderer>
  }
  @case (FileType.MARKDOWN) {
    @if (!loading()) {
      <sm-markdown-renderer [repoId]="repository()?.id" [refId]="ref()"
                            [text]="objectTextData()"></sm-markdown-renderer>
    }
  }
  @case (FileType.IPYNB) {
    @if (!loading()) {
      <sm-ipynb-renderer [text]="objectTextData()"></sm-ipynb-renderer>
    }
  }
  @case (FileType.IMAGE) {
    <sm-image-renderer [repoId]="repository()?.id" [refId]="ref()" [path]="object()?.path"></sm-image-renderer>
  }
  @case (FileType.TOO_LARGE) {
    <sm-toolarge-renderer [message]="'File Size is too large'"></sm-toolarge-renderer>
  }
  @default {
    <sm-unsupported-renderer [message]="'FileType is not recognized'"></sm-unsupported-renderer>
  }
}
