<div [class]="'login-body flex min-h-screen ' + (layoutService.config.colorScheme === 'light' ? 'layout-light':'layout-dark')">
  <div class="w-full" style="background: var(--surface-ground)">
    <div class="p-fluid min-h-screen flex align-items-center justify-content-center"
         style="background: var(--surface-ground)">

      <!-- Main Card Container -->
      <div class="card shadow-lg border-round-xl" style="min-width: 400px; max-width: 450px; padding: 2rem;">
        <!-- Logo Section -->
        <div class="mb-5">
          <img [src]="'assets/layout/images/inv-logo-horiz-' +
               (layoutService.config.colorScheme === 'light' ? 'black' : 'white') + '.svg'"
               class="login-logo"
               style="width: 200px;"  alt=""/>
        </div>

        <!-- Form Content -->
        <form [formGroup]="resetRequestForm" (ngSubmit)="requestReset()" class="text-left">
          <div class="mb-5">
            <h2 class="text-2xl font-semibold m-0 mb-2">Forgot Password</h2>
            <div class="alert alert-warning" *ngIf="!success">
              <span>Enter the email address you used to register</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
              <span>Check your email for details on how to reset your password.</span>
            </div>
          </div>



          <!-- Email Input -->
          <div  *ngIf="!success" class="p-input-icon-left w-full mb-4">
            <i class="pi pi-envelope" style="left: 0.75rem"></i>
            <input #emailInput
                   type="email"
                   pInputText
                   class="w-full"
                   style="padding: 1rem 1rem 1rem 2.5rem; border-radius: 8px;"
                   placeholder="Enter your email"
                   formControlName="email"
                   autocomplete="off">
          </div>

          <!-- Submit Button -->
          <button *ngIf="!success" pButton
                  type="submit"
                  label="Reset Password"
                  class="w-full p-button-primary"
                  style="padding: 1rem; border-radius: 8px;"
                  [loading]="loading"
                  [disabled]="!resetRequestForm.valid || loading"></button>

          <!-- Back to Login Link -->
          <div class="text-left mt-4">
            <a [routerLink]="['/login']"
               class="hover:underline no-underline text-green-700 font-bold">
              Back to Login
            </a>
          </div>
        </form>

        <!-- Footer -->
        <div class="flex align-items-center gap-2 justify-content-center mt-4 text-sm flex-wrap">
          <span class="text-color-secondary">Copyright © 2024 StateMesh</span>
          <span class="text-color-secondary">|</span>
          <a class="text-color-secondary hover:text-primary cursor-pointer no-underline"
             href="https://www.statemesh.net/privacy-policy"
             target="_blank">Privacy Policy</a>
          <span class="text-color-secondary">|</span>
          <a class="text-color-secondary hover:text-primary cursor-pointer no-underline"
             href="https://www.statemesh.net/terms-of-use"
             target="_blank">Terms of Use</a>
        </div>
      </div>
    </div>
  </div>
</div>
