<div class="site-container navbar-container">
  <div class="navbar-holder">
    <div class="navbar-container">
      <div class="brand-holder">
        <a href="/" class="brand">
          <img
            src="https://cdn.prod.website-files.com/67244d9774922677cd605e7e/67880a909ea3d647fc7e0d70_logo-horiz-black.png"
            loading="lazy" width="250" height="Auto" alt="StateMesh"
            srcset="https://cdn.prod.website-files.com/67244d9774922677cd605e7e/67880a909ea3d647fc7e0d70_logo-horiz-black-p-500.png 500w, https://cdn.prod.website-files.com/67244d9774922677cd605e7e/67880a909ea3d647fc7e0d70_logo-horiz-black-p-800.png 800w, https://cdn.prod.website-files.com/67244d9774922677cd605e7e/67880a909ea3d647fc7e0d70_logo-horiz-black-p-1080.png 1080w, https://cdn.prod.website-files.com/67244d9774922677cd605e7e/67880a909ea3d647fc7e0d70_logo-horiz-black.png 1377w"
            sizes="(max-width: 479px) 96vw, 100px" class="brand-image">
        </a>
      </div>
      <div class="nav-menu">
        <div class="nav-menu-link-holder">
          <div class="nav-menu-link-container">
            <div class="nav-links">
              <a href="https://www.statemesh.net/" class="nav-link">Home</a>
              <a href="https://www.statemesh.net/node-operators" aria-current="page" class="nav-link no-small">Node Operators</a>
              <a href="https://www.statemesh.net/pricing" class="nav-link no-small">Network Prices</a>
              <a href="https://www.statemesh.net/blog" class="nav-link no-small">Blog</a>
              <a href="https://docs.statemesh.net" class="nav-link">Docs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
