

$breakpoint:992px !default;
$scale:14px !default;

.layout-dark {
    --sidebar-shadow: none;
    --sidebar-border: 1px solid var(--surface-border);
    --card-shadow: none;
    --body-bg:#26272D;
    //--body-image:  url("/assets/layout/images/effect-ondark.png");
    --root-menu-item-hover-bg:rgba(255, 255, 255, 0.05);
    //--exception-pages-image: url('/assets/layout/images/exception-ondark.png');
}


