h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;

    &:first-child {
        margin-top: 0;
    }
}

mark {
    background: #FFF8E1;
    padding: .25rem .4rem;
    border-radius: var(--border-radius);
    font-family: monospace;
}

blockquote {
    margin: 1rem 0;
    padding: 0 2rem;
    border-left: 4px solid #90A4AE;
}

hr {
    border-top: solid var(--surface-border);
    border-width: 1px 0 0 0;
    margin: 1rem 0;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}
